extends ./templates/layout.jade

block title
  title О бренде масла IDEAL
block content
  .p-hero
    .p-hero-container  
      ul.p-hero_menu
        li
          a(href="http://kitchenmag.ru/promo/Ideal") Все статьи
        li
          a(href="http://localhost:8080/") Тест
        li.is-active
          a О бренде
      .p-hero_content
        img.p-hero-bottle(src="../assets/bottle2.png")
        .p-hero_title О масле
          a(href="http://ads.adfox.ru/219018/goLink?p1=bsabp&p2=v&p5=dygqb&pr=[RANDOM]").p-hero-logo
        .p-hero_text 
          | Торговая марка IDEAL выпускается компанией Bunge – ведущей компанией в агробизнесе и пищевой отрасли, основанной в 1818 году. 
          br
          br
          | Растительное масло марки Ideal существует на российском рынке уже 10 лет. Философия компании не изменилась за эти годы, IDEAL все так же старается следовать пожеланиям своих потребителей и предлагает только самые качественные продукты. 
          br
          br
          | В ассортименте IDEAL представлены подсолнечное и оливковое масла.
          br
          br
          span IDEAL Оливковый – это масло, рожденное в Испании. 
          br
          br
          | Многолетний опыт работы с растительными маслами позволил нам как можно тщательнее подойти к вопросу выбора региона производителя и к тому, каким должен быть настоящий вкус оливкового масла.
          br
          | Мы  обратили свое внимание на солнечную Испанию, которая славится своими оливковыми рощами на весь мир.
          br
          | А именно, на регион Севилья, где произрастают особые сорта оливок, которые позволяют получить оливковое масло с особенно мягким вкусом.
          br
          br
          span Именно поэтому IDEAL является уникальным маслом наивысшего качества. 
          br
          br
          | Механическая обработка оливок позволяет сохранить богатый вкус с  мягкой горчинкой, который идеально сочетается с любым приготовленным блюдом.

        
        a.social.p-hero_social__web(href="http://www.ideal-oil.ru/#olive" target="_blank")
        a.social.p-hero_social__vk(href="https://vk.com/idealoil" target="_blank")
        a.social.p-hero_social__fb(href="https://www.facebook.com/idealolive/" target="_blank")
        a.social.p-hero_social__inst(href="https://www.instagram.com/idealoil/" target="_blank") 