extends ./templates/layout.jade

block title
  title Взгляд в корзинку: как хорошо вы выбираете продукты питания?
block content
  .p-hero.test
    .p-hero-container
      ul.p-hero_menu
        li
          a(href="http://kitchenmag.ru/promo/Ideal") Все статьи
        li
          a(href="http://kitchenmag.ru/promo/Ideal/recipes") Рецепты
        li.is-active
          a Конкурс
        li
          a(href="http://ideal.kitchenmag.ru/brand.html") О бренде
      .quiz-container-wrapper
        .quiz-container  
          .component(data-component="quiz")
          img.quiz-banner(src='/assets/banner.jpg')
