.header
  .p-header
    .p-hero_container
      a.p-header_logo(href="http://kitchenmag.ru/")
        img.p-header_logo-img(src="../assets/logo.png")
      .p-header_link
        a(href="http://kitchenmag.ru/posts") Статьи
      .p-header_link
        a(href="http://kitchenmag.ru/recipes") Рецепты